<div class="a">
  <div class="contprinci">
    <div class="listas">
      <div>
        <p> tareas por completar</p>
        <ul>
          <li *ngIf="tareaS.tarea.length === 0 "> algo tendras que hacer</li>
          <li *ngFor="let tarea of tareaS.tarea; index as i" class="aaa">
            {{tarea}}
          <button (click)="tareaS.borrarcomp(i , 1)">borrar</button>
          <button (click)="tareaS.completada(i , 1)">en proceso</button>
          </li>
        </ul>
      </div>
      <div>
        <p> tareas en proceso</p>
        <ul>
          <li *ngIf="tareaS.InProcess.length === 0 "> bien ahi</li>
          <li *ngFor="let InProcess of tareaS.InProcess; index as i" class="aaa">
            {{InProcess}}
          <button (click)="tareaS.borrarcomp(i, 2)">borrar</button>
          <button (click)="tareaS.completada(i , 2)">completada</button>
          </li>
        </ul>
      </div>
      <div>
        <p>  tareas completadas</p>
        <ul>
          <li *ngFor="let tareacomp of tareaS.tareacomp; index as i" class="aaa">
          {{tareacomp}}
          <button (click)="tareaS.borrarcomp(i , 3)">eliminar</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="nuevo">
      <div>
      <input type="text" [(ngModel)]="tareaS.numero">
      <button (click)="tareaS.otronumero()">añadir cosa para hacer</button>
      </div>
    </div>
  </div>
</div>
